<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Duration</th>
  </tr>
 
  <% @movie.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.description %></td>
      <td><%= movie.duration %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nowy film', new_movie_path %>